@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
*{
  padding:0;margin:0;
  box-sizing: border-box;
  font-size: 22px;
  /* font-family: 'Roboto', sans-serif;  */
  font-family: 'Source Sans Pro', sans-serif;
}


header{
  background: white;
  box-shadow: 2px 1px 8px #ccc;
  height:70px;
  padding:0 20px;
}

ul{
  height:70px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo{
  font-size: 150%;
}
.bLogo{
  font-size: 100%;
  font-weight:bold;
}
.rem{
  font-size: 80%;
}
.header-input{
  border: none;
  background-color:#cccccc4d;
  border-radius: 5px;
  outline: none;
  font-size: 60%;
  padding: 10px;
  width:400px;
  margin:0 120px;
}
section{
  width: 90%;
  margin: 40px auto 0 auto;
  
}
.items{
  display: flex;
  width: 90%;
  margin: 10px auto 0 auto;
}
.left{
  width:45%;
  /* height:500px; */
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 70px;
}
.right{
  width:40%;
}
img{
  border-radius: 5px;
  margin-right:10px;
}
.card{
  padding:15px;
  width:100%;
  margin:10px 0;
  box-shadow: 0px 2px 5px #d0d0d0de;
  display: flex;
}
.price{
  height:200px;
  flex-direction:column;
  justify-content: space-around;
  padding: 30px;
}
.btn{
  border:none;
  margin-top:40px;
  width:180px;
  padding:12px;
  border-radius: 10px;
  color:white;
  font-size: 90%;
  font-weight: bold;
}
.btn-green{
  background-color: #009688;
}