@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap');
*{
  padding:0;margin:0;
  box-sizing: border-box;
  font-size: 22px;
  /* font-family: 'Roboto', sans-serif;  */
  font-family: 'Source Sans Pro', sans-serif;
}


.link{
 text-decoration: none; 
 color:black;
}
not-show{
  display:none;
}
header{
  background: white;
  box-shadow: 2px 1px 8px #ccc;
  height:70px;
  padding:0 20px;
}

ul{
  height:70px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo{
  font-size: 150%;
}
.bLogo{
  font-size: 100%;
  font-weight: bolder;
}
.rem{
  font-size: 80%;
}
.header-input{
  border: none;
  background-color:#cccccc4d;
  border-radius: 5px;
  outline: none;
  font-size: 60%;
  padding: 10px;
  width:400px;
  margin:0 120px;
}

img{
  width:240px;
  height: 350px;
}
#clothing{
  margin:20px auto;
  width:90%;
  display: flex;
  flex-wrap: wrap;
}
section>div{
  margin:15px;
  width:240px;
  display: flex;
  height:475px;
  flex-direction: column;
  border-radius: 8px ;
  box-shadow: 1px 3px 4px #cccccca6;
}
.card-details{
  padding: 15px;
  font-size: 80%;
}
.card-details>p{
  font-size: 80%;
  margin-bottom: 5px;
}
.description{
  font-weight: bold;
}
